@keyframes pisca {
	0% { opacity: 0.2; }
	50% { opacity: 1; }
	100% { opacity: 0.2; }
}

.tela {
	width: 500px;
	height: 320px;
	background: linear-gradient(to right, #E8E8E8, #C1C1C1);
	border: 2px solid #555;
	display: flex;
	flex-direction: column;
}

.d-1 {
	flex: 1;
	display: flex;
	padding: 15px;
}

.d-1_left {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.d-1-1 {
	height: 50px;
	display: flex;
	align-items: center;
}

.d-1-2 {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.d-1-3 {
	height: 50px;
	display: flex;
}

.numero {
	display: inline-block;
	width: 30px;
	height: 40px;
	border: 1px solid #000;
	text-align: center;
	line-height: 40px;
	font-size: 25px;
}

.pisca {
  display: inline-block;
	width: 30px;
	height: 40px;
	border: 1px solid #000;
	text-align: center;
	line-height: 40px;
	font-size: 25px;
	animation-name: pisca;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.d-1-4 {
	flex: 1;
	line-height: 30px;
}

.d-1_rigth {
	width: 90px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.d-1_image {
	border: 1px solid #000;
	background-color: #FFF;
	text-align: center;
	font-size: 14px;
}

.d-1_image img {
	width: 100%;
}

.d-1_image.small {
	width: 50%;
}

.d-2 {
	height: 50px;
	font-size: 15px;
	border-top: 2px solid #000;
	padding-left: 10px;
}

.aviso--grande {
	font-size: 40px;
	font-weight: bold;
}

.aviso--gigante {
  width: 498px;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
