
  <div class="tela">
    <div *ngIf="telaAguardando" class="telaInicio">Aguarde o início da urna</div>
    <div *ngIf="telaInicio">
      <div class="d-1">
        <div class="d-1_left">
          <div class="d-1-1" *ngIf="seuVotoPara">
            <span>SEU VOTO PARA</span>
          </div>
          <div class="d-1-2">
            <span>{{ cargo }}</span>
          </div>
          <div class="d-1-3" *ngIf="mostrarNumeros">
            <div *ngFor="let i of etapa let x = index" [ngClass]="{numero: digitoClass, pisca: !digitoClass}">{{algarismos[x]}}</div>

          </div>
          <div class="d-1-4" *ngIf="mostrarDescricao">
            <strong>Nome:</strong> {{dadosCandidato.nome}}
            <strong>Partido:</strong> {{dadosCandidato.partido}} <br/>
            <strong>Vice:</strong> {{dadosCandidato.vice}}  <br/>
          </div>
          <div class="d-1-4 aviso--grande pisca" *ngIf="votoNuloTela">VOTO NULO</div>
          <div class="d-1-4 aviso--grande pisca" *ngIf="votoBrancoTela">VOTO EM BRANCO</div>
        </div>
        <div class="d-1_rigth" *ngIf="mostrarLateral">
          <div class="d-1_image">
            <img [src]=dadosCandidato.fotos[0].url>
          </div>
          <span>{{dadosCandidato.fotos[0].legenda}}</span>
          <div class="d-1_image small">
            <img [src]=dadosCandidato.fotos[1].url alt="">
          </div>
          <span>{{dadosCandidato.fotos[1].legenda}}</span>
        </div>
      </div>
      <div class="d-2" *ngIf="mostrarAviso">
        Aperte a tela: <br/>
        CONFIRMA para CONFIRMAR este voto <br/>
        CORRIGE para REINICIAR este voto
      </div>
    </div>
    <div *ngIf="telaFim" class="aviso--gigante pisca">FIM</div>
  </div>
