

.teclado {
	margin-left: 30px;
	background-color: #403A3A;
  height: 320px;
}

.teclado_linha {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.teclado_botao {
	width: 70px;
	height: 40px;
	background-color: #000;
	color: #FFF;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	cursor: pointer;
	box-shadow: 3px 3px 0px #555;
}

.btn_branco {
	background-color: #FFF;
	color: #000;
	font-size: 15px;
}

.btn_corrige {
	background-color: #F09046;
	color: #000;
	font-size: 15px;
}

.btn_confirma {
	background-color: #48C079;
	color: #000;
	font-size: 15px;
	width: 90px;
	height: 50px;
}
